body{
    background-color: rgb(255, 255, 255);
    font-family: 'Pridi', serif;
    font-weight: 200;
}

#page{
    width: 95%;
    margin: auto;
    margin-top: 80px;
}

/*La navbar*/
nav{
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #363636;
}

/*Formulaire d'ajout*/

.form{
    background-color: #363636;
    color: white;
    padding: 10px 20px 20px;
    border-radius: 10px;
}

#form_elements{
    margin-bottom: 30px;   
}

.form_element{
    display: inline-block; 
    margin-right: 40px;
}

.input_add_form{
    background-color: #363636;
    font-family: 'Pridi', serif;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
}

.btn_add_form{
    background-color: #AF0000;
    color: white;
    font-family: 'Pridi', serif;
    font-weight: 500;
    font-size: 18px;
    border: none;
    padding: 8px 25px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.btn_add_form:hover{
    background-color: #850000;

}

/*LES CARTES*/
.content_card{
    display: inline-block;
}

.card{
    display: inline-block;
    background-color:#E7E7E7; 
    width: 160px;
    height: 250px;
    margin:10px; 
    border-radius: 5px;
    box-shadow: 3px 3px 5px 1px rgba(54, 54, 54, 0.2);
}

.card_edit{
    
    background-color:#E7E7E7; 
    width: 160px;
    height: 250px;
    margin:10px; 
    border-radius: 5px;
    box-shadow: 3px 3px 5px 1px rgba(54, 54, 54, 0.2);
}

.description_card{
    padding: 0px 20px 10px 20px;
}

.img_card{
    width: 160px;
    border-radius: 5px 5px 0px 0px;
}

.svg_line{
    text-align: right;
    padding-right: 10px;
}

.single_svg{
    cursor: pointer;
    width: 20px;
}

.infos_card{
    font-weight: 800;
}

