body{
    background-color: rgb(255, 255, 255);
    font-family: 'Pridi', serif;
    font-weight: 200;
}

#page{
    width: 95%;
    margin: auto;
    margin-top: 80px;
}

/*La navbar*/
nav{
    width: 100%;
    height: 40px;
    padding: 7px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #363636;
}

/*Images en rotation*/

#images_in_rotation{
    margin: 40px 0px;
}

.img_to_rotate{
    animation: rotation 5s infinite linear;
    margin-right: 50px;
    width: 50px;
    height: auto;
}

.img_to_rotate:hover{
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}


/*Formulaire d'ajout*/
.form{
    background-color: #363636;
    color: white;
    padding: 10px 20px 20px;
    border-radius: 10px;
}

#form_elements{
    margin-bottom: 30px;   
}

.form_element{
    display: inline-block; 
    margin-right: 40px;
}

.input_add_form{
    background-color: #363636;
    font-family: 'Pridi', serif;
    font-size:18px;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    margin-bottom: 30px;
}

.btn_add_form{
    background-color: #AF0000;
    color: white;
    font-family: 'Pridi', serif;
    font-weight: 500;
    font-size: 18px;
    border: none;
    padding: 8px 25px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 10px;
}

.btn_add_form:hover{
    background-color: #850000;

}

/*FORMULAIRE DE MODIFICATION*/
.input_edit_form{
    background-color:#E7E7E7;
    font-family: 'Pridi', serif;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid rgb(36, 36, 36);
    width: 90px;
    outline: none;
    margin-bottom: 10px;
}






/*LES CARTES*/
.content_card{
    display: inline-block;
}

.card{
    background-color:#E7E7E7; 
    width: 200px;
    height: 400px;
    margin:10px; 
    border-radius: 5px;
    box-shadow: 3px 3px 5px 1px rgba(54, 54, 54, 0.2);
}

.card_edit{
    background-color:#E7E7E7; 
    width: 200px;
    height: 400px;
    margin:10px; 
    border-radius: 5px;
    box-shadow: 3px 3px 5px 1px rgba(54, 54, 54, 0.2);
}

.card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
}

.card_edit:hover{
    transform: translateY(-5px) scale(1.005) translateZ(0);
}

.description_card{
    padding: 0px 20px 0px 20px;
}

.img_card{
    width: 200px;
    height:140px;
    border-radius: 5px 5px 0px 0px;
}

.svg_line{
    text-align: right;
    padding-right: 10px;
}

.single_svg{
    cursor: pointer;
    width: 23px;
}

.label_infos_card{
    margin-bottom: 10px;
}

.infos_card{
    font-weight: 800;
}


/*PRISE DE PHOTOS*/
.div_api_picture{
    background-color: rgb(224, 224, 224); 
    padding: 20px 30px;
    border-radius: 10px;

}

